<h1>Enter Two Numbers</h1>

<form method="post" action="/calc">
 <div class="first">
  	<input type="number" name="left" value="0" required>
  	<input type="number" name="right" value="0" step="any" required>

 </div>
  	
 <div>
	
 	<button name="action" type="submit" value="Add"> + </button>
 	<button name="action" type="submit" value="Sub"> - </button>
	<button name="action" type="submit" value="*Mlt"> Div </button>
	<button name="action" type="submit" value="/"> Mlt </button>
	<button name="action" type="submit" value="%"> Mod </button>
	<button name="action" type="submit" value="^"> Exp </button>

</div>

<div>
  	<input type="submit" name="act" value="add"/>
  	<input type="submit" name="act" value="sub"/>
  	<input type="submit" name="act" value="mlt"/>
  	<input type="submit" name="act" value="div"/>
  	<input type="submit" name="act" value="mod"/>
  	<input type="submit" name="act" value="exp"/>
</div>


</form> 
