
 <div class="calculator">    	

<h1>Enter two numbers</h1>

	<form method="post" action="/calc">
 
  		<input type="number" name="left" value="0" step="any" required>
  		<input type="number" name="right" value="0" step="any" required>
 
 <p></p>
 <div class="buttons">   
 		<button name="action" type="submit" value="add"> + </button>
 		<button name="action" type="submit" value="sub"> - </button>
		<button name="action" type="submit" value="mlt"> * </button>
		<button name="action" type="submit" value="div"> / </button>
		<button name="action" type="submit" value="mod"> % </button>
		<button name="action" type="submit" value="exp"> ^ </button>
 </div>   	
		
<div></div>
	</form> 
</div>
