@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body, input, select, textarea, button {
  font-family: 'Roboto', sans-serif;
}

html, body {
  font-size: 14px;
  background: #ffffff;
}

.calculator {
	border: 10px solid blue;
	padding: 1%;
	width: 25%;
	height: 25%;
	color: #0000ff;
	background: #c0c0c0;
	float:left;
}
button:focus,
button:hover {
  border-color: #FF5555;
  background-color: #00ff00;
  color: #FF5555;
}

button {
  border-color: #FF5555;
  background-color: #ff8982;
  color: black;
}

button:focus,
button:hover {
  border-color: #0000ff;
  background-color: #00ff00;
  color: #FF5555;
}

input[type="text"],
input[type="number"] {
background-color: #00ff00;
}